<div>
  <h1>Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p><a routerLink="/login">Already have an account?</a></p>
    <div>
      <input type="text" placeholder="Your name" formControlName="username">
    </div>
    <div>
      <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password">
    </div>

    <button type="submit" [disabled]="isSubmitting$ | async">Sign Up</button>
  </form>

  <app-preloader *ngIf="isSubmitting$ | async"> </app-preloader>

  <div *ngIf="error$ | async" class="error">
    {{ error$ | async }}
  </div>
</div>