:host {
    background: #e8ecee;
    display: block;
    padding: 30px;
    form {
        padding-bottom: 20px;
    }
}

:host ::ng-deep input {
    outline: none;
    background: white;
    border: none;
    padding: 12px;
    border-radius: 3px;
    min-width: 250px;
    border-top: 1px solid #F2F2FD;
    input:focus {
        border: none;
    }
}
