<h1>System</h1>
<app-preloader *ngIf="isLoading$ | async"></app-preloader>

<div class="errors">{{ (errors$ | async) }}</div>

<!-- Add entity form component -->
<app-add-entity></app-add-entity>

<router-outlet></router-outlet>

<ul>
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: (systemEntites$ | async)?.children }">
    </ng-container>
</ul>

<ng-template #recursiveListTmpl let-list="list">
    <li *ngFor="let item of list; let i = index" (click)="$event.stopPropagation(); 
        definePath(item);
        activeItem = item?._id;
        toggleEntity(item)">

        <div [ngClass]="{'active': activeItem === item?._id}" class="item-container">
            <div *ngIf="item.type === 'folder'">
                <div>
                    <svg-folder *ngIf="isDirectoryFilledClosed(item)"></svg-folder>
                    <svg-opened-folder *ngIf="isDirectoryFilledOpened(item)"></svg-opened-folder>
                    <svg-empty-opened-folder *ngIf="isDirectoryEmptyOpened(item)"></svg-empty-opened-folder>
                    <svg-empty-folder *ngIf="isDirectoryEmptyClosed(item)"></svg-empty-folder>
                </div>
            </div>

            <div *ngIf="item.type === 'list'" class="item-container">
                <svg-list></svg-list>
            </div>

            <div>
                <div> {{ item.name }} </div>
                <div *ngIf="isDirectoryEmptyOpened(item)" class="hint">
                    Folder is empty
                </div>
            </div>
            <button (click)="removeEntity(item._id);$event.stopPropagation(); ">X</button>
        </div>
        <div *ngIf="openedDirectoriesIds.includes(item._id)">
            <ul *ngIf="item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"></ng-container>
            </ul>
        </div>
    </li>
</ng-template>