<h1>System</h1>
<app-preloader *ngIf="isLoading$ | async"></app-preloader>

<div class="errors">{{ (errors$ | async) }}</div>

<app-add-entity></app-add-entity>
<router-outlet></router-outlet>

<ul>
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: (systemEntites$ | async)?.children }">
    </ng-container>
</ul>

<ng-template #recursiveListTmpl let-list="list">
    <li *ngFor="let item of list; let i = index" (click)="$event.stopPropagation(); 
        definePath(item);
        activeItem = item?._id;
        toggleEntity(item)">

        <div [ngClass]="{'active': activeItem === item?._id}" class="item-container">
            <div *ngIf="item.type?.name === 'folder'">
                <div>

                    <div *ngIf="!openedDirectoriesIds.includes(item._id) && item.children.length > 0">
                        <svg-folder></svg-folder>
                    </div>

                    <div *ngIf="openedDirectoriesIds.includes(item._id) && item.children.length > 0">
                        <svg-opened-folder></svg-opened-folder>
                    </div>

                    <div *ngIf="openedDirectoriesIds.includes(item._id) && item.children.length === 0">
                        <svg-empty-opened-folder></svg-empty-opened-folder>
                    </div>

                    <div *ngIf="!openedDirectoriesIds.includes(item._id) && item.children.length === 0">
                        <svg-empty-folder></svg-empty-folder>
                    </div>


                </div>
            </div>

            <div *ngIf="item.type?.name === 'list'" class="item-container">
                <div>
                    <svg-list></svg-list>
                </div>
            </div>

            <div>
                <div> {{ item.name }} </div>
                <div *ngIf="openedDirectoriesIds.includes(item._id) && item.children.length === 0" class="hint">
                    Folder is empty
                </div>
            </div>
        </div>
        <!-- <small> &nbsp;&nbsp;&nbsp; {{ item.type?.name }}</small> -->
        <div *ngIf="openedDirectoriesIds.includes(item._id)">
            <ul *ngIf="item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"></ng-container>
            </ul>
        </div>
    </li>
</ng-template>