ul li {
    list-style: none;
}
.active {
    color: black;
    font-weight: bold;
}
.item-container {
    display: flex;
    align-items: center;
}
.hint {
    color: #bcbcbc;
    font-size: 70%;
    font-weight: normal;
}
